#drawingArea {
    height: 40vh;
    width: 60vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 3px;
    background-color: #737783;
    border-radius: 10px;
}

.dial {
    height: 100px;
    width: 100px;
    border: 1px black solid;
    border-radius: 100%;
    background-color: #D7D9E8; 
    margin : 10px;
}

.cell {
    width: 8px;
    height: 8px;
    border: #737783 1px solid;
    background-color: #737783;
}

.board {
    background-color: #C80015;
    height: 100%;
    width: 65vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.dialBox{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
}

